.main-page h3{
    text-align: center;
}
.events-container,
.gallery-container{
    padding: 1px 1px 0 1px;
}
.gallery-container{
    padding-bottom: 10px;
}
.main-page-description{
    padding-top: 40px;
}
.main-page-description p{
    text-align: justify;
}
.slogan{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
.service-description{
    padding-bottom: 30px;
}
.decorations-containers{
    padding: 0 2px 10px 2px;
}
.customButton{
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 3px #a5195d;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    border-radius: 26px;
    font:16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#fafa12;
    background-image: -moz-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -webkit-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -o-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -ms-linear-gradient(top, #fafa12 0% ,#a5195d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5195d', endColorstr='#a5195d',GradientType=0 );
    background-image: linear-gradient(top, #fafa12 0% ,#a5195d 100%);
    -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
    box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    opacity:0.99;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
    filter: alpha(opacity=99);
    text-shadow: 1px -3px 1px #cf811b;
    filter: dropshadow(color=#cf811b, offx=1, offy=-3);  -webkit-transition: all 0.05s ease;
    -moz-transition:  all 0.05s ease;
    -o-transition:  all 0.05s ease;
    transition:  all 0.05s ease;
}
.customButton:hover{
    padding:11px 32px;
    border:solid 3px #e87b33;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    border-radius: 26px;
    font:16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#fa7612;
    background-image: -moz-linear-gradient(top, #fa7612 0%, #eba715 100%);
    background-image: -webkit-linear-gradient(top, #fa7612 0%, #eba715 100%);
    background-image: -o-linear-gradient(top, #fa7612 0%, #eba715 100%);
    background-image: -ms-linear-gradient(top, #fa7612 0% ,#eba715 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba715', endColorstr='#eba715',GradientType=0 );
    background-image: linear-gradient(top, #fa7612 0% ,#eba715 100%);
    -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
    box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    opacity:0.99;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
    filter: alpha(opacity=99);
    text-shadow: 1px -3px 1px #cf811b;
    filter: dropshadow(color=#cf811b, offx=1, offy=-3);
}
.customButton:active{
    padding:11px 32px;
    border:solid 3px #a5195d;
    -webkit-border-radius:21px;
    -moz-border-radius:21px;
    border-radius: 21px;
    font:16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#faa512;
    background-image: -moz-linear-gradient(top, #faa512 0%, #a5195d 100%);
    background-image: -webkit-linear-gradient(top, #faa512 0%, #a5195d 100%);
    background-image: -o-linear-gradient(top, #faa512 0%, #a5195d 100%);
    background-image: -ms-linear-gradient(top, #faa512 0% ,#a5195d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5195d', endColorstr='#a5195d',GradientType=0 );
    background-image: linear-gradient(top, #faa512 0% ,#a5195d 100%);
    -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
    box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    opacity:0.99;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
    filter: alpha(opacity=99);
    text-shadow: 1px -3px 1px #cf811b;
    filter: dropshadow(color=#cf811b, offx=1, offy=-3);
}
.newYearButton{
    text-decoration:none; text-align:center;
    padding:11px 32px;
    border:solid 3px #a5195d;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    border-radius: 26px;
    font-weight:bold;
    color:#ffffff;
    background-color:#fafa12;
    background-image: -moz-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -webkit-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -o-linear-gradient(top, #fafa12 0%, #a5195d 100%);
    background-image: -ms-linear-gradient(top, #fafa12 0% ,#a5195d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5195d', endColorstr='#a5195d',GradientType=0 );
    background-image: linear-gradient(top, #fafa12 0% ,#a5195d 100%);
    -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
    box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
    opacity:0.99;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
    filter: alpha(opacity=99);
    text-shadow: 1px -3px 1px #cf811b;
    filter: dropshadow(color=#cf811b, offx=1, offy=-3);  -webkit-transition: all 0.05s ease;
    -moz-transition:  all 0.05s ease;
    -o-transition:  all 0.05s ease;
    transition:  all 0.05s ease;
}
.button:hover{
     padding:11px 32px;
     border:solid 3px #e87b33;
     -webkit-border-radius:26px;
     -moz-border-radius:26px;
     border-radius: 26px;
     font:40px "Courier New", Courier, monospace;
     font-weight:bold;
     color:#ffffff;
     background-color:#fa7612;
     background-image: -moz-linear-gradient(top, #fa7612 0%, #eba715 100%);
     background-image: -webkit-linear-gradient(top, #fa7612 0%, #eba715 100%);
     background-image: -o-linear-gradient(top, #fa7612 0%, #eba715 100%);
     background-image: -ms-linear-gradient(top, #fa7612 0% ,#eba715 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba715', endColorstr='#eba715',GradientType=0 );
     background-image: linear-gradient(top, #fa7612 0% ,#eba715 100%);
     -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
     -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
     box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
     opacity:0.99;
     -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
     filter: alpha(opacity=99);
     text-shadow: 1px -3px 1px #cf811b;
     filter: dropshadow(color=#cf811b, offx=1, offy=-3);
}
.button:active{
     padding:11px 32px;
     border:solid 3px #a5195d;
     -webkit-border-radius:21px;
     -moz-border-radius:21px;
     border-radius: 21px;
     font:31px "Courier New", Courier, monospace;
     font-weight:bold;
     color:#ffffff;
     background-color:#faa512;
     background-image: -moz-linear-gradient(top, #faa512 0%, #a5195d 100%);
     background-image: -webkit-linear-gradient(top, #faa512 0%, #a5195d 100%);
     background-image: -o-linear-gradient(top, #faa512 0%, #a5195d 100%);
     background-image: -ms-linear-gradient(top, #faa512 0% ,#a5195d 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5195d', endColorstr='#a5195d',GradientType=0 );
     background-image: linear-gradient(top, #faa512 0% ,#a5195d 100%);
     -webkit-box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
     -moz-box-shadow: 0px 0px 2px #f0ebeb,  inset 0px 0px 1px #eddfdf;
     box-shadow:0px 0px 2px #f0ebeb, inset 0px 0px 1px #eddfdf;
     opacity:0.99;
     -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
     filter: alpha(opacity=99);
     text-shadow: 1px -3px 1px #cf811b;
     filter: dropshadow(color=#cf811b, offx=1, offy=-3);
 }
.fontMD {
    font:30px "Courier New", Courier, monospace;
}
.fontSM {
    font:20px "Courier New", Courier, monospace;
}
.fontXS {
    font:13px "Courier New", Courier, monospace;
}
.aboutPageText {
    height: 120px;
}
#aboutPage img{
    max-height: 150px;
}
